{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<link rel="stylesheet" href="{% static "signup/style.css" %}">
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p>{{error}}</p>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
        {% endfor %}
        <input type="submit" value = "Login">
        <br>
        <a href="{% url 'signup:sign_up' %}">SignUp</a>
    </form>
</body>
</html>